{% extends 'base.html.twig' %}

{% block title %}About index{% endblock %}

{% block body %}
    <div class="container">
    <h1>About index</h1>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Text</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for about in abouts %}
            <tr>
                <td>{{ about.id }}</td>
                <td>{{ about.title }}</td>
                <td>{{ about.text }}</td>
                <td>{{ about.image }}</td>
                <td>
                    <a href="{{ path('about_show', {'id': about.id}) }}">show</a>
                    <a href="{{ path('about_edit', {'id': about.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex justify-content-start">
                <a href="{{ path('admin_index') }}">
                    <button class="btn">Retour</button>
                </a>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <a href="{{ path('about_new') }}">
                    <button class="btn">Create new</button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}
